<p >
    <mat-toolbar color="primary">
     <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span> <kbd>PharmaCare</kbd></span>
    <span class="example-spacer"></span>
    <a 
    [routerLink]="'/signup'"
    mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>logout</mat-icon>
</a>
    <a 
    [routerLink]="'/login'"
    mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>login</mat-icon>
</a>
    <a
    [routerLink]="'/welcome'"
     mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
     <mat-icon>home</mat-icon>
</a>
  </mat-toolbar>
  </p>
